/* site.css */
/*.navbar {
    background: #0069AA;
}*/
.menu {
  font-size: 12px;
}

  .menu li {
    list-style-type: none;
  }

    .menu li.active {
      font-weight: bold;
    }

    .menu li a {
      color: white;
    }

.floatleft { float:left }

.floatright { float:right }