@using Microsoft.CodeAnalysis.CSharp.Syntax
@model GitMonitor.Models.MonitoredPathConfig
<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <div class="panel panel-default">
            <div class="panel-body">
                Days:
                <a asp-controller="Home" asp-action="Groups" asp-route-days="1"><span class="badge">1</span></a>
                <a asp-controller="Home" asp-action="Groups" asp-route-days="3"><span class="badge">3</span></a>
                <a asp-controller="Home" asp-action="Groups" asp-route-days="7"><span class="badge">7</span></a>
                <a asp-controller="Home" asp-action="Groups" asp-route-days="14"><span class="badge">14</span></a>
                <a asp-controller="Home" asp-action="Groups" asp-route-days="30"><span class="badge">30</span></a>
                <a asp-controller="Home" asp-action="Groups" asp-route-days="90"><span class="badge">90</span></a>
                <a asp-controller="Home" asp-action="FetchGroups" class="btn btn-success btn-xs">Fetch All</a>
            </div>
        </div>
        <div class="bs-component">
            @if (Model != null)
            {
                <ul class="nav nav-tabs">
                    @foreach (var path in @Model.MonitoredPaths)
                    {
                        if (path.Name != "Default")
                        {
                            <li><a href="#profile" data-toggle="tab">@path.Name - @path.Commits.Count</a></li>
                        }
                    }
                </ul>
            }
        </div>
    </div>
</div>
